In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df=pd.read_csv('book4000k-5000k.csv')

In [10]:
df

,Id,Name,Authors,ISBN,Rating,PublishYear,PublishMonth,PublishDay,Publisher,RatingDist5,RatingDist4,RatingDist3,RatingDist2,RatingDist1,RatingDistTotal,CountsOfReview,Language,PagesNumber,Description
0,4000000,Top Management,Bernard Taylor,0582446058,0.00,1973,1,1,Longman Publishing Group,5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,448,NaN
1,4000001,"Celtic Warfare, 1595 1763",James Michael Hill,0859761517,3.67,1986,1,1,J. Donald,5:1,4:1,3:0,2:1,1:0,total:3,0,NaN,203,NaN
2,4000002,Playwright Power,Robert Friedman,0761803629,0.00,1996,7,28,University Press of America,5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,164,Playwright Power is a concise handbook on how ...
3,4000009,Selected Topics In Harmonic Maps,James Eells,0821807005,0.00,1983,1,1,American Mathematical Society(RI),5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,85,Gives an account of the various aspects of the...
4,4000010,Foreign Exchange Intervention: Objectives And ...,Sylvester C.W. Eijffinger,1858988128,0.00,1999,1,1,Edward Elgar Publishing,5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,608,This collection of previously published articl...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280251,4846443,About International Trade,Nana Haines,187782500X,0.00,1989,12,31,Dart Press,5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,90,NaN
280252,4846447,International and Global Marketing: Concepts a...,Taylor W. Meloan,0256218943,3.00,1998,1,1,Irwin/McGraw-Hill,5:0,4:0,3:1,2:0,1:0,total:1,0,NaN,439,This text is a combination of 32 readings and ...
280253,4846448,The Best of Vincent Mulchrone,Vincent Mulchrone,0955823811,0.00,2008,5,23,Revel Barker,5:0,4:0,3:0,2:0,1:0,total:0,0,NaN,120,Throughout his working life Vincent Mulchrone ...
280254,4846449,Forgive Us Our Press Passes,Ian Skidmore,0955823803,3.80,2008,2,14,Revel Barker,5:2,4:4,3:4,2:0,1:0,total:10,1,NaN,232,"Journalist, broadcaster and author IAN SKIDMOR..."
280255,4846451,A Fractography Atlas Of Casting Alloys,Gordon W. Powell,0935470670,4.00,1992,1,1,Battelle Press,5:0,4:1,3:0,2:0,1:0,total:1,0,NaN,28,NaN

In [11]:
list(df.columns)

['Id',
 'Name',
 'Authors',
 'ISBN',
 'Rating',
 'PublishYear',
 'PublishMonth',
 'PublishDay',
 'Publisher',
 'RatingDist5',
 'RatingDist4',
 'RatingDist3',
 'RatingDist2',
 'RatingDist1',
 'RatingDistTotal',
 'CountsOfReview',
 'Language',
 'PagesNumber',
 'Description']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280256 entries, 0 to 280255
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Id               280256 non-null  int64
 1   Name             280256 non-null  object
 2   Authors          280256 non-null  object
 3   ISBN             279505 non-null  object
 4   Rating           280256 non-null  float64
 5   PublishYear      280256 non-null  int64
 6   PublishMonth     280256 non-null  int64
 7   PublishDay       280256 non-null  int64
 8   Publisher        278792 non-null  object
 9   RatingDist5      280256 non-null  object
 10  RatingDist4      280256 non-null  object
 11  RatingDist3      280256 non-null  object
 12  RatingDist2      280256 non-null  object
 13  RatingDist1      280256 non-null  object
 14  RatingDistTotal  280256 non-null  object
 15  CountsOfReview   280256 non-null  int64
 16  Language         15434 non-null   object
 17  PagesNumber      280256 non-null  int64
 18  Description      184554 non-null  object
dtypes: float64(1), int64(6), object(12)
memory usage: 40.6+ MB