Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries.

In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT f.name,
       (select m.firstname || ' ' || m.surname) as name,
       sum(f.membercost),SUM(f.guestcost)
       FROM Bookings as b
       INNER JOIN Members as m
       Using (memid)
       INNER JOIN Facilities as f
       Using (facid)
       WHERE starttime like "2012-09-14%"
       group by name
    
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Darren Smith', 0, 77.5)
('Massage Room 1', 'Jack Smith', 89.10000000000001, 720)
('Massage Room 2', 'Florence Bader', 19.8, 160)
('Pool Table', 'Tim Rownam', 0, 95)
('Snooker Table', 'Charles Owen', 0, 25)
('Squash Court', 'Anne Baker', 24.5, 122.5)
('Table Tennis', 'Florence Bader', 0, 20)
('Tennis Court 1', 'Burton Tracy', 35, 175)
('Tennis Court 2', 'David Jones', 20, 100)

In [2]:
       SELECT DISTINCT m.firstname as name,
        f.name
        FROM Bookings as b
        INNER JOIN Facilities as f
        ON b.facid = f.facid
        INNER JOIN Members as m
        on m.memid = b.memid
        where f.name = 'Tennis Court 1' 
        or f.name = 'Tennis Court 2'
        order by m.firstname

SyntaxError: invalid syntax (<ipython-input-2-21c2e27bbe54>, line 1)

In [ ]:
SELECT f.name,
       (select m.firstname || ' ' || m.surname) as name,
       sum(f.membercost),SUM(f.guestcost)
       FROM Bookings as b
       INNER JOIN Members as m
       Using (memid)
       INNER JOIN Facilities as f
       Using (facid)
       WHERE starttime like "2012-09-14%"
       group by name

In [3]:
SELECT (SELECT m.firstname || ' ' || m.surname) as names,
SUM(f.membercost + f.guestcost)
FROM Bookings as b
INNER JOIN Facilities as f
USING (facid)
inner join Members as m
USING (memid)
WHERE b.starttime like '%2012-09-14%'
group by b.memid

SyntaxError: invalid syntax (<ipython-input-3-0afc7f086b15>, line 1)

In [4]:
SELECT (SELECT m.firstname || ' ' || m.surname) as names
       FROM Bookings as b
       INNER JOIN Members as m
       Using (memid)
       INNER JOIN Facilities as f
       Using (facid)
       WHERE f.name = 'Tennis Court 1'
       or f.name = 'Tennis Court 2'
       Order by names

SyntaxError: invalid syntax (<ipython-input-4-a2628c0d347e>, line 1)