In [5]:
import pandas as pd

In [28]:
def function1(list):
     #take length value of list
    size = len(list)
     #interate through 
    for elem in range(0, size):
        foo = False
 
        for elem2 in range(0, size - elem - 1):
            if list[elem2] > list[elem2 + 1]:
                list[elem2], list[elem2 + 1] = list[elem2 + 1], list[elem2]
                foo = True
 
        if not foo: break
 
    return list

In [41]:
def function1(list):
     #take length value of list
    size = len(list)
     #interate through 
    for elem in range(0, size):
        print('elem '+str(elem))
        foo = False
 
        for elem2 in range(0, size - elem - 1):
            print('eleme2 '+str(elem2))
            if list[elem2] > list[elem2 + 1]:
                list[elem2], list[elem2 + 1] = list[elem2 + 1], list[elem2]
                foo = True
 
        if not foo: break
 
    return list

In [42]:
for i in range(0,len(trythis1)):
    print(i)

0
1
2

In [48]:
trythis1 = ['hello','this looks funny','21']
trythis2 = ['z','y','t','r','s','x','c','s','w']
len(trythis2)

9

In [47]:
print(function1(letters))
print(function1(intlist))
print(function1(trythis1))
print(function1(trythis2))

elem 0
eleme2 0
eleme2 1
eleme2 2
eleme2 3
eleme2 4
['a', 'b', 'c', 'd', 'e', 'z']
elem 0
eleme2 0
eleme2 1
eleme2 2
eleme2 3
[2, 4, 6, 8, 10]
elem 0
eleme2 0
eleme2 1
elem 1
eleme2 0
elem 2
['21', 'hello', 'this looks funny']
elem 0
eleme2 0
eleme2 1
eleme2 2
eleme2 3
eleme2 4
eleme2 5
eleme2 6
eleme2 7
elem 1
eleme2 0
eleme2 1
eleme2 2
eleme2 3
eleme2 4
eleme2 5
eleme2 6
elem 2
eleme2 0
eleme2 1
eleme2 2
eleme2 3
eleme2 4
eleme2 5
elem 3
eleme2 0
eleme2 1
eleme2 2
eleme2 3
eleme2 4
elem 4
eleme2 0
eleme2 1
eleme2 2
eleme2 3
elem 5
eleme2 0
eleme2 1
eleme2 2
elem 6
eleme2 0
eleme2 1
['c', 'r', 's', 's', 't', 'w', 'x', 'y', 'z']

In [ ]:
def foo(r, c):
    if c in (0, r):
        return 1
    return foo(r-1, c-1) + foo(r-1, c)
 
 
def function2(n):
    return [[foo(r, c) for c in range(r + 1)] for r in range(n)][n-1]

In [ ]:
from math import floor
from itertools import groupby

def function3(l, n):
  assert(len(l) > 0 and n > 0)
  minimum = min(l)
  maximum = max(l)
  d = (maximum - minimum) / n
  values = [(floor((l[i] - minimum) / d)) for i in range(len(l))]
  dictionary = dict([(key, len(list(group))) for key, group in groupby(sorted(values))])
  return [(minimum+(i+0.5)*d, dictionary.get(i, 0)) for i in range(0,n,1)]

In [11]:
intlist=[10,8,6,4,2]
letters = ['a','c','b','d','z','e']

In [3]:
print(function1(intlist))

print(function1(letters))

[2, 4, 6, 8, 10]
['a', 'b', 'c', 'd', 'e', 'z']

In [4]:

function2(4)

for i in range(6):
    function2(i)
    continue

print(range(20))

test = range(0,20)
test

for i in range(6):
    print(i)

IndexError: list index out of range

In [7]:
accounts = pd.read_csv('sampleData/accounts.csv')
streams = pd.read_csv('sampleData/streams.csv')

In [8]:
accounts.head()

   account_number  price  churned
0             650  30.56        1
1             573  12.04        0
2             575  32.05        0
3             943  30.56        1
4             924  35.19        0

In [9]:
streams.head()

   account_number  start_timestamp  end_timestamp  mos_score
0             978     1.526775e+12  1526775485544   4.531915
1             599     1.526719e+12  1526719368844   4.595745
2             939     1.526769e+12  1526768981833   4.063830
3             939     1.526773e+12  1526774360750   4.468085
4             749     1.526738e+12  1526740366937   4.595745